* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #676565;
    font-weight: 700;
}

.header {
    display: block;
    font-weight: normal;
    font-size: 31px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.container {
    max-width: 845px;
    width: 100%;
    margin: auto;
}

.form {
    padding: 20px;
    background-color: #feeed6;
}

.form_text {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 17px;
    padding: 10px 15px;
    border: none;
}

.form_textarea {
    width: 100%;
    resize: vertical;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px 15px;
    border: none;
}

.form_button {
    display: block;
    padding: 10px 15px;
    margin-left: auto;
    background-color: #378db2;
    color: #ffffff;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

    .form_button:hover {
        background-color: #32728D;
    }

.form_help_label {
    display: block;
    color: #737373;
    margin-bottom: 20px;
    font-weight: normal;
}
