* {
    box-sizing: border-box;
}

.form_content {
    max-width: 845px;
    /*    min-height: 530px;*/
    background-color: #FEEED6;
    padding-left: 20px;
    position: relative;
    margin-left: 30px;
}

.form_control {
    width: 805px;
    margin-top: 10px;
    height: 40px;
    border: none;
    padding-left: 15px;
}

.input_label {
    display: inline-block;
    font-family: Arial, serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.form_control.textarea {
    height: 130px;
    resize: vertical;
}

.button {
    width: 170px;
    height: 31px;
    background-color: #378DB2;
    color: #faf3ee;
    border-width: 0;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.header {
    font-family: Arial, serif;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 31px;
    margin-bottom: 4px;
    margin-left: 20px;
}

.input_label.comment {
    margin-bottom: 70px;
}
