* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #a0522d;
}

.header {
    font-size: 31px;
    margin: 7px 15px;
    color: #343e46;
    font-family: serif, Arial;
}

.container {
    max-width: 550px;
    width: 100%;
    margin: 10px;
}

.content {
    padding: 15px;
    background-color: #D7DBDD;
    border-radius: 10px;
}

.input_value {
    width: 100%;
    margin: 15px 0;
    border: none;
}

.content_button {
    display: block;
    margin-left: auto;
    margin-bottom: 50px;
    padding: 5px 10px;
    color: #a0522d;
    cursor: pointer;
}

    .content_button:hover {
        background-color: #b3b5a6;
    }

.output_value {
    line-height: 2;
    color: #343e46;
}

::-webkit-input-placeholder {
    font-size: 16px;
    padding: 5px;
    color: #B3B5A6;
}
