<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TodoList_Vue</title>

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="Styles/style.css" rel="stylesheet" />

    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="node_modules/vue/dist/vue.min.js"></script>
    <script defer src="Scripts/script.js"></script>
</head>
<body>
    <div v-cloak id="app">
        <div class="container">
            <todo-list></todo-list>
        </div>
    </div>

    <script id="todo-list-template" type="text/x-template">
        <div class="py-3">
            <h1>Todo list</h1>

            <div class="row g-2">
                <div class="col-auto">
                    <input v-model="newTodoText"
                           class="form-control"
                           :class="{'is-invalid': isInvalidInput}"
                           type="text" />
                    <div class="invalid-feedback">Please enter the text</div>
                </div>

                <div class="col-auto">
                    <button @click="addNewTodoItem" class="btn btn-primary" type="button">Add</button>
                </div>
            </div>

            <ul>
                <todo-list-item v-for="item in items"
                                @delete-item="deleteItem"
                                @save-item="saveItem"
                                :item="item"
                                :key="item.id"></todo-list-item>
            </ul>
        </div>
    </script>

    <script id="todo-list-item-template" type="text/x-template">
        <li class="p-2">
            <template v-if="isEditing">
                <div class="row g-2">
                    <div class="col-2">
                        <input v-model="editText"
                               class="form-control"
                               :class="{'is-invalid': isInvalid}"
                               type="text" />
                        <div class="invalid-feedback">Please enter the text</div>
                    </div>

                    <div class="col-auto">
                        <button @click="saveItem" class="btn btn-primary" type="button">Save</button>
                    </div>

                    <div class="col-auto">
                        <button @click="cancelEditItem" class="btn btn-danger" type="button">Cancel</button>
                    </div>
                </div>
            </template>

            <template v-else>
                <span>{{ item.text }}</span>
                <button @click="startEditItem" class="btn btn-primary" type="button">Edit</button>
                <button @click="deleteItem" class="btn btn-danger" type="button">Delete</button>
            </template>
        </li>
    </script>
</body>
