<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="Styles/style.css" rel="stylesheet">

    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="node_modules/vue/dist/vue.min.js"></script>
    <script defer src="Scripts/script.js"></script>

    <title>Phonebook_Vue</title>
</head>
<body>
    <div class="container">
        <div v-cloak id="app">
            <h1 class="mb-3">Контакты</h1>

            <form class="row g-2">
                <div class="col-auto"
                     v-for="contact in contactsData"
                     :key="contactId">
                    <input v-model="contact.text"
                           :class="{'is-invalid': contact.isInvalid}"
                           type="text"
                           class="form-control">
                    <div class="invalid-feedback">{{ contact.errorMessage }}</div>
                </div>

                <div class="col-auto">
                    <button @click="addContact" type="button" class="form-control btn btn-primary">Добавить</button>
                </div>

                <div class="col-auto">
                    <button @click="deleteItems" type="button" class="form-control btn btn-secondary">
                        Удалить отмеченное
                    </button>
                </div>
            </form>

            <table class="table table-striped text-center align-middle mt-3">
                <thead>
                    <tr>
                        <th scope="col">
                            <input type="checkbox"
                                   v-model="select_all"
                                   @click="select">
                        </th>
                        <th scope="col">№</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Номер телефона</th>
                        <th scope="col">Удалить контакт</th>
                    </tr>
                </thead>
                <tbody>

                    <tr v-for="(contact, index) in contacts"
                        :key="contact.id">
                        <td>
                            <input type="checkbox"
                                   :value="contact.id"
                                   v-model="selected">
                        </td>
                        <td>{{ index + 1 }}</td>
                        <td>{{ contact.lastName }}</td>
                        <td>{{ contact.firstName }}</td>
                        <td>{{ contact.phoneNumber }}</td>
                        <td>
                            <button @click="deleteContact(contact)" type="button" class="btn btn-primary">Удалить</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>