* {
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    width: 100%;
}

.table {
    max-width: 860px;
    width: 100%;
    font-family: Arial, serif;
    border-collapse: collapse;
    font-size: 20px;
    margin: 10px;
}

    .table tr, .table td, .table th {
        border: 1px solid #CCC;
        padding: 14px 11px;
    }

    .table thead tr {
        background-color: #3498DB;
        color: #EEE;
        text-align: left;
    }

    .table tbody > tr:nth-child(odd) {
        background-color: #EEE;
    }

.first_name_column, .last_name_column {
    width: 175px;
}

.job_column {
    width: 310px;
}

.twitter_column {
    width: 210px;
}
